.cardclass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
}
.card {
  margin-bottom: 5%;
}

.nodata {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #9b9b9b;
  font-size: 20px;
  margin-top: 10%;
  font-weight: bold;
}

.card-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 4.8em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.card-text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-text:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
